body {
    background-color: #D2A8FD;
    font-family: 'Poppins', sans-serif;
    text-align: center;
 }

 section {
     text-align: center;
     background-color: #FFF9B4;
 }

 img {
     width: 100px;
     height: 100px;
 }