/* body {
  font-family: "Sans Normal Regular", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  display: flex;
  height: inherit;
  background-color: #4b2e83;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
} */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #4B2E83;
  font-family: "Encode Sans", sans-serif;
  font-size: 44px;
  color: white;
}

/* .content {
  display: flex;
  flex-direction: column;
} */

/* main div.box {
  display: flex;
  background-color: white;
  flex-direction: row;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
} */

/* main div.box div div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

/* main div.box div div img {
  height: 40px;
  width: 40px;
  border-radius: 0px;
} */

/* main div div img {
  width: 250px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} */

/* main div div p {
  padding: 0.5rem;
} */

/* main div div h1 {
  padding: 0.5rem;
  font-size: 1.2rem;
  position: center;
} */

.map {
  display:flex;
  flex-direction: column;
  flex-basis:auto;
  
}
.map_title, .top-rated {
  font-size: 3rem;
}
.map_title {
  /* display:flex; */
  color:white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-bottom: 3px solid #b7a57a;
}

.map_line {
  margin-bottom: 1rem;
  align-items: center;
}

.map_image {
  display: flex;
  max-width: 100%;
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.map p {
  margin-top:.1rem;
  color:white;
  font-style:italic;
  font-size: 12px;
  text-align:center;
}

.material-icons {
  position: relative;
  top: 5px;
}

footer {
  color: white;
  background-color: #85754d;
  display:block;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: .5rem;
  margin-top: 1rem;
}

footer p {
  margin: 0;
  line-height: 1.25;
  font-style:italic;
  font-size: 18pt;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p:last-child {
  padding-top: 8px;
}



  /* main div div img {
    width: 500px;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
} */

/* top half of main page */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.logo-header, .form {
  justify-content: space-evenly;
  margin: .5em 0;
}

.header {
  display: block;
}

.logo {
  width: 80px;
  height: 80px;
}

h1 {
  font-weight: 900;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.top-rated {
  font-weight: 700;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 0;
  border-bottom: 3px solid #b7a57a;
}

.searchbar {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  width: 80%;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.15);
  text-align: center;
}

.br-cards {
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
}

.card-item img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
}

.card-item p {
  text-align: center;
  color: white;
  margin: 0;
}

.building {
  font-size: 1.1em;
  font-weight: 700;
}

.card-item .floor {
  font-size: 0.4em;
  font-weight: 200;
  margin-bottom: 1.15em;
}

@media (min-width: 598px) {
  h1 {
      font-size: 1.5em;
  }

  .top-rated {
      font-size: 1em;
  }

  .logo {
      width: 110px;
      height: 110px;
  }

  .searchbar {
      font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .header {
      display: flex;
      justify-content: space-between;
      margin: 0.5em;
  }

  .logo-header {
      margin: 0;
  }

  .form, .logo-header > * {
      margin-top: auto;
      margin-bottom: auto;
  }

  .logo {
      width: 80px;
      height: 80px;
      margin-right: 10px;
  }

  h1 {
      font-size: 1em;
      margin: 0;
  }

  .searchbar {
      width: 300px;
      height: 50px;
      font-size: 20px;   
  }

  .top-rated {
      font-size: 1.2em;
  }

  .card-item img{
      width: 350px;
  }
  
  .building {
      font-size: 1.15em;
  }
  
  .floor {
      font-size: 0.45em;
  }
}

/* @media (min-width: 1024px) {
  .searchbar {
      width: 400px;
  }

  h2 {
      font-size: 1.5em;
  }
  
  .card-item img {
      width: 450px;
  }

  .building {
      font-size: 1.6em;
  }

  .card-item .floor {
      font-size: 0.5em;
  }
}

@media (max-width: 598px) {
  main div div img {
    display: none;
  }

  main {
    flex-direction: column;
    flex-wrap: wrap;
  }

  body{
    justify-content: left;
  }

  main div div div h1 {
    display: none;
  }

}

@media (min-width: 598px) {
  main div div h2{
    display: none;
  }
}

@media (min-width: 1200px) {
  main div.box {
    flex-direction: column;
  } */


  /* Results start */
  body.results {
    font-family: "Sans Normal Regular", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: inherit;
    background-color: #4b2e83;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%
  }
  
  main.results {
    display: flex;
    flex-direction: column;
  }
  
  main.results div.box {
    display: flex;
    flex: auto;
    background-color: white;
    flex-direction: row;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    justify-content: space-between;
  }
  
  main.results div.box div div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  main.results div.box div div img {
    height: 40px;
    width: 40px;
    border-radius: 0px;
  }
  
  main.results div.box div.image img {
    width: 250px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  main.results div div p {
    padding: 0.5rem;
  }
  
  main.results div div h1 {
    padding: 0.5rem;
    font-size: 1.2rem;
    position: center;
  }
  
  @media (max-width: 598px) {
    div.card-content img {
      display: none;
    }
  
    main.results {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    main.results div.box {
      flex: none;
    }
  
    body.results{
      justify-content: left;
    }
  
    main.results div div div h1 {
      display: none;
    }
  
  }
  
  @media (min-width: 598px) {
    main.results div div h2{
      display: none;
    }
    
    
  }
  
  @media (min-width: 1200px) {
    main.results div.box {
      flex-direction: column;
    }
  
    main.results div.box div.image img {
      width: 500px;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
    }
  }
  
  /* Advanced Search Start*/
  .navbar {
    width: auto;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
    color: black;
  }
  
  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 12px;
    margin-left: 2px;
    font-size: 17px;
  }
  
   @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: flex;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  } 
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  
  }