.navbar {
    background-color: #4b2e83;
}

.nav-category {
    color: #e8e3d3;
    text-decoration: none;
    padding: 5px;
}

.drop-item {
    padding-left: 5px;
}

.search-button {
    padding: 15px;
}

.nav-logo {
    padding: 10px;
}

table {
    max-width: 600px; /* fixed sizing */
  }
  