* {
    box-sizing: border-box;
}

body {
    font-family: "Sans Normal Regular", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    background-color: #4b2e83;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.map {
    display:flex;
    flex-direction: column;
    flex-basis:auto;
}

.map_title {
    display:flex;
    color:white;
    font-size:4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.map_line {
    margin-bottom: 1rem;
}

.map_image {
    display: flex;
    max-width: 800px;
    padding: 0 .5rem .5rem;
    margin-left: auto;
    margin-right: auto;
}